@model Address_Design.Models.Address
@using Address_Design
@using Address_Design.Controllers
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // when the DOM has fully loaded...
        $("#btnSubmit").bind("click", function () {
            var onEventLaunchAddressForm = new PostAddress();
            onEventLaunchAddressForm.launchAddressView();
        });
    });
    function PostAddress() {
        this.launchAddressView = function () {

            // fetch values from input
            var Street1 = $("#Street").val();
            var ZipCode1 = $("#ZipCode").val();


            // build json object
            var address = {
                Street: Street1,
                ZipCode: ZipCode1,

            };

            $.ajax({
                type: "POST",
                url: "AddressForm",
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(address),
                success: function (data) { console.log(data) },
                error: function (data) { console.log(data) }
            });

        }
    }

</script>
<body>

    <header>
        <hgroup>
            <h1>Address Form</h1>
            <h3>Fill out and Submit!</h3>
        </hgroup>
    </header>

    <section>
        <p>Fill out your information and send it to our server.</p>

        <p><input type="text" required="required" id="Street" placeholder="Enter the Street name" /></p>
        <p><input type="number" id="Zipcode" placeholder="Enter Zipcode (optional)" /></p>
        <p><input type="number" required="required" id="County" placeholder="Enter the County name" /></p>
        <p><input type="String" required="required" id="Gender" placeholder="M or F or None? (single letter only)" size="1" /></p>
        <p><input type="string" required="required" id="Country" placeholder="Enter the Counrty name" /></p>

        <p><input id="btnSubmit" type="button" value="Submit!" /></p>

        <div id="status"></div>

    </section>

   <form>
    <label for="browser">Choose your Country from the list:</label>
    <input list="browsers" name="browser" id="browser">
     <datalist id="browsers">
            <option value="Argentina">
            <option value="Australia">
            <option value="Austria">
            <option value="Austria">
            <option value="Belgium">
            <option value="Brazil">
            <option value="Britain">
            <option value="Canada">
            <option value="Channel Islands">
            <option value="Chile">
            <option value="China">
            <option value="Taiwan">
            <option value="Costa Rica">
            <option value="Czech Republic">
            <option value="Denmark">
            <option value="Estonia">
            <option value="Fiji">
            <option value="Finland">
            <option value="Formosa">
            <option value="France">
            <option value="Germany">
            <option value="Greenland">
            <option value="Hong Kong">
            <option value="Iceland">
            <option value="India">
            <option value="Indonesia">
            <option value="Ireland">
            <option value="Israel">
            <option value="Italy">
            <option value="Japan">
            <option value="South Korea">
            <option value="Latvia">
            <option value="Luxembourg">
            <option value="Malaysia">
            <option value="Mexico">
            <option value="Netherlands">
            <option value="New Zealand">
            <option value="Northern Ireland">
            <option value="Norway">
            <option value="Oman">
            <option value="Pakistan">
            <option value="Poland">
            <option value="Portugal">
            <option value="Puerto Rico">
            <option value="Romania">
            <option value="Russia">
            <option value="Scotland">
            <option value="Singapore">
            <option value="South Africa">
            <option value="Spain">
            <option value="Sweden">
            <option value="Switzerland">
            <option value="Ukraine">
            <option value="United States">
            <option value="Uruguay">
            <option value="Wale">

     </datalist>

 </form>
      

    <div>
        @await Component.InvokeAsync("CountryDropDown", @ViewBag.cachedForms);
    </div>

</body>

</html>



