@model Address_Design.Models.Address
@using Address_Design
@using Address_Design.Controllers
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // when the DOM has fully loaded...
        $("#btnSubmit").bind("click", function () {
            var onEventLaunchAddressForm = new PostAddress();
            onEventLaunchAddressForm.launchAddressView();
        });
        $("#chooseCountry").bind("click", function () {
            var e = document.getElementById("browser");
            var strUser = e.value;
            //alert(strUser);

            var parentElement = document.getElementById('formsection');
            document.getElementById('formsection').innerHTML = "";

            $.get("/AddressForm/CountryFormatReturn", { country: strUser }, function (data) {
                var childElement = null;
                
                for (i = 0; i < data.length; i++) {
                    childElement = document.createElement('input');
                    if (data[i] == "Country") {
                        childElement.value = strUser;
                    }
                    childElement.placeholder = data[i];
                    childElement.id = data[i];
                    parentElement.appendChild(childElement);
                    var linebreak = document.createElement("br");
                    parentElement.appendChild(linebreak);
                }
            });  
            
        });
    });
    function PostAddress() {
        this.launchAddressView = function () {

            // fetch values from input
            var Street1 = document.getElementById("Address Line").value
            //var ZipCode1 = $("#Zip Code").value();

            // build json object
            var address = {
                AddressLine: Street1
                //ZipCode: ZipCode1,
            };

            $.ajax({
                type: "POST",
                url: "AddressForm",
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(address),
                success: function (data) {
                    var dvItems = $("#dvItems");
                    dvItems.empty();
                    $('<h1>').append(data).appendTo(dvItems);
                },
                error: function (data) { console.log(data) }
            });

        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // when the DOM has fully loaded...
        $("#countrySubmit").bind("click", function () {
            var onEventLaunchAddressForm = new GetForm();
            onEventLaunchAddressForm.launchAddressView();
        });
    });
    function GetForm() {
        this.launchAddressView = function () {
            AddressLine.type = "hidden";
        }
    }
</script>

<body>

    <header>
        <hgroup>
            <h1>Address Form</h1>
            <h3>Fill out and Submit!</h3>
        </hgroup>
    </header>

    <form>
        <label for="browser">Choose your Country from the list:</label>
        <select id="browser">
            <option value="Argentina">Argentina</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Belgium">Belgium</option>
            <option value="Brazil">Brazil</option>
            <option value="Britain">Britain</option>
            <option value="Canada">Canada</option>
            <option value="Channel Islands">Channel Islands</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Estonia">Estonia</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="Formosa">Formosa</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Greenland">Greenland</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="South Korea">South Korea</option>
            <option value="Latvia">Latvia</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Mexico">Mexico</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Northern Ireland">Northern Ireland</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Scotland">Scotland</option>
            <option value="Singapore">Singapore</option>
            <option value="South Africa">South Africa</option>
            <option value="Spain">Spain</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Ukraine">Ukraine</option>
            <option selected value="United States">United States</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Wales">Wales</option>
        </select>
        <input id="chooseCountry" type="button" value="Get Form!" />
    </form>

    <section>
        <div id="formsection">

        </div>

        <p><input id="btnSubmit" type="button" value="Narrow Search!" /></p>
        <p><input id="btnSubmit" type="button" value="Global Search!" /></p>
        <div id="dvItems" style="font-size:24px;"></div>

    </section>

    @*<div>
            @await Component.InvokeAsync("CountryDropDown", @ViewBag.cachedForms);
        </div>*@

</body>

</html>



